<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Stanislav Stolbennikov - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark compensate-for-scrollbar" id="navbar-main">
    <div class="container">
        <div class="d-none d-lg-inline-flex">
            <a class="navbar-brand" href="/">Stanislav Stolbennikov</a>
        </div>
        <div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
            <a class="navbar-brand" href="/">Stanislav Stolbennikov</a>
        </div>
        <div class="navbar-collapse main-menu-item collapse justify-content-end" id="navbar-content">
            <ul class="navbar-nav d-md-inline-flex">
                <li class="nav-item">
                    <a class="nav-link active" href="/home" data-target="home"><span>Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home" data-target="home"><span>Blog</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/projects" data-target="projects"><span>Projects</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contact" data-target="contact"><span>Contact</span></a>
                </li>
            </ul>
        </div>
        <ul class="nav-icons navbar-nav flex-row ml-auto d-flex pl-md-2">
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <div class="text-center">
                <img class="rounded-circle shadow-lg align-items-center z-depth-0 w-75" th:src="@{/images/avatar.jpg}"
                     alt="Stanislav Stolbennikov" src="../static/images/avatar.jpg">
                <div class="title mt-3">
                    <h2>Stanislav Stolbennikov</h2>
                    <h3 class="title description">Programmer</h3>
                </div>
                <ul class="network-icon" aria-hidden="true">
                    <li class="contact-icon p-1">
                        <a class="link-icon" href="/contact">
                            <i class="fas fa-envelope-square"></i>
                        </a>
                    </li>
                    <li class="contact-icon p-1">
                        <a class="link-icon" href="https://github.com/sse-programmer/" target="_blank">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li class="contact-icon p-1">
                        <a class="link-icon" href="https://instagram.com/sse.public" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="description-margin">
                <p class="nice-text">Hi, I am very glad to see you!</p>
                <p class="nice-text">Here you can find out a little about me and contact me if necessary =)</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-5">
                    <h2>Interests</h2>
                    <ul class="ul-interests">
                        <li>Java development</li>
                    </ul>
                    <ul class="ul-interests">
                        <li>Application software development</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h2>Education</h2>
                    <ul class="ul-edu fa-ul">
                        <li>
                            <i class="fa-li fas fa-graduation-cap"></i>
                            <div class="description">
                                <p class="course">High school diploma, 2014</p>
                                <p class="institution">Novosibirsk State University Higher College of
                                    Informatics </p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-li fas fa-graduation-cap"></i>
                            <div class="description">
                                <p class="course">Diploma in System Software, 2021</p>
                                <p class="institution">Siberian State University of Telecommunications and
                                    Information
                                    Sciences</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gasket">
</div>
<footer class="footer">
    <div>
        <span class="text-muted">I am already missing you...</span>
    </div>
</footer>
</body>
</html>